@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: black;
  font-family: "Roboto", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.clock {
  width: 500px;
  height: 500px;
  border: 8px solid rgb(36, 36, 36);
  background: rgb(15, 15, 15);
  box-shadow:
    inset 0 -3px 100px rgba(0, 0, 0, 0.7),
    inset 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardinal-points {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardinal-point {
  position: absolute;
  width: 1%;
  height: 8%;
  background: white;
}

.twelve {
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.three {
  left: 100%;
  transform: rotate(90deg) translate(-0%, 100%);
}

.six {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%);
}

.nine {
  left: 0;
  transform: rotate(90deg) translate(-0%, -100%);
}

.clock-title {
  position: absolute;
  top: 25%;
  color: white;
}

.analog-clock-date {
  position: absolute;
  top: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5%;
  align-items: center;
  width: 50%;
  color: white;
  text-align: center;
}

.needle {
  position: absolute;
  bottom: 50%;
  transform-origin: bottom center;
}

.second-needle {
  width: 5px;
  height: 200px;
  background-color: red;
}

.minut-needle {
  width: 5px;
  height: 150px;
  background-color: white;
}

.hour-needle {
  width: 5px;
  height: 100px;
  background-color: blue;
}

.center-point {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  position: absolute;
  background: white;
}

.digital-clock {
  border: 8px solid rgb(36, 36, 36);
  background: rgb(15, 15, 15);
  box-shadow:
    inset 0 -3px 100px rgba(0, 0, 0, 0.7),
    inset 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-family: "DS-Digital", sans-serif;
  color: white;
  padding: 2em 3em;
}

.date-container {
  display: flex;
  justify-content: center;
  column-gap: 5%;
  font-size: 1.5rem;
}

.time-container {
  display: flex;
  font-size: 4rem;
  font-weight: bold;
}

.day-container {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  width: 100%;
  position: fixed;
  font-size: 1rem;
  bottom: 0;
  background: rgb(15, 15, 15);
  color: white;
  text-align: center;
}

@media (max-width: 450px) and (orientation: portrait) {
  main {
    flex-direction: column;
    row-gap: 5%;
  }

  .clock {
    width: 380px;
    height: 380px;
  }

  .second-needle {
    height: 150px;
  }

  .minut-needle {
    height: 100px;
  }

  .hour-needle {
    height: 80px;
  }

  .digital-clock {
    padding: 1em 2em;
  }

  .date-container {
    font-size: 1.2rem;
  }

  .time-container {
    font-size: 2.5rem;
  }

  .day-container {
    font-size: 1.2rem;
  }
}
